<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>About Yelp</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<style>
			body 		{ padding: 25px 50px 50px 50px; }
		</style>
</head>
<body>

	
	<p>Things to know about YELP !<br/>
	 <br/>
	 1. Yelp was in 2004 to help people find great local businesses.<br/>
	 2. Yelp had an average of approximately 138 million monthly unique visitors in Q2 2014.<br/>
	 3. Yelpers have written over 61 million local reviews.<br/>
	 4. In addition to reviews, you can use Yelp to find events, lists and to talk with other Yelpers.<br/>
	 5. Every business owner (or manager) can setup a free account to post photos and message their customers.<br/>
	 6. Paying advertisers can never change or re-order their reviews.<br/></p>

	<p>
	<b> Return to Home page and Get Started with your Yelp account now !! </b>
	</p>
	 <ul>
		 <li><a href="/index">Return to Home page</a>
		 </li>
	 </ul>
</body>
</html>
