<!doctype html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<style>
		body 
		{
		 padding-top:80px;
		 font-size: 200%;
		 }
	</style>
</head>
<body>

<div class="container">
<span class="label label-success "> <%=message%></span>
</div>
 
	<ul>
		<br/><br/><li><a href="/index"><b> Return to home page</b></a></li>
	</ul>
	<ul>
		<br/><br/><li><a href="/main"><b> Return to main page</b></a></li>
	</ul>
</body>
</html>
