<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Search through a category</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<style>
			body 		{ padding: 25px 50px 50px 50px; }
		</style>
</head>
<body>
	<p>
	Please select one of the items from the drop down.
	</p>

	<form action="/searchType" method="post">
    <!-- This panel is for searching through ratings -->
    
    <div class="panel panel-primary">
      <!-- Default panel contents -->
        <div class="panel-heading">Search</div>
        <div class="panel-body">

				<br/><div class="form-group  usernameDiv">
		                  <label class="text" class="col-sm-2 control-label pull-left"> Type:</label>
		                	  <select id="type" name="type" value" " require="true">
  							<option value="Restaurants">Restaurants</option>
  							 <option value="Shopping">Shopping</option>
    							<option value="Nightlife">Nightlife</option>
    							<option value="Japanese">Japanese</option>
    							<option value="Chinese">Chinese</option>
    							<option value="Bars">Bars</option>   
    							<option value="Health & Medical">Health & Medical</option>    					
  							</select>

				
	                  <br/><div class="form-group ">
	                    <div class="pull-left signIn">
	                      <button type="submit" class="btn btn-primary">Submit</button>
	                    </div>
	                  </div>
        </div>
	</div>
 	</form>	

	<ul>
		<br/><br/><li><a href="/main"><b> Return to main page</b></a></li>
	</ul>

</body>
</html>
